@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Outfit", serif;
}

body {
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

div#container {
    background-color: hsl(216, 50%, 16%);
    width: 375px;
    height: 550px;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: ;
}

header {
    height: 60%;
    width: 100%;
}

header > img {
    width: 100%;
    height: 100%;
    background: cover no-repeat center center;
    object-fit: cove;
    box-shadow: 0px 1px 10px hsla(216, 54%, 11%, 0.37);
    border-radius: 5px;
}

main {
    text-align: left;
}

main > h1 {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 600;
}

main > p {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 15px;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
}

footer > img {
    height: 10px;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    margin-top: 20px;
}

section > div > img {
    transform: translateY(3px);
    mar
}

span {
}



